<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Gif</key>
		<string>lyj0000.gif</string>
		<key>String</key>
		<string>lyj0000</string>
		<key>Image</key>
		<string>lyj0000.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0001.gif</string>
		<key>String</key>
		<string>lyj0001</string>
		<key>Image</key>
		<string>lyj0001.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0002.gif</string>
		<key>String</key>
		<string>lyj0002</string>
		<key>Image</key>
		<string>lyj0002.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0003.gif</string>
		<key>String</key>
		<string>lyj0003</string>
		<key>Image</key>
		<string>lyj0003.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0004.gif</string>
		<key>String</key>
		<string>lyj0004</string>
		<key>Image</key>
		<string>lyj0004.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0005.gif</string>
		<key>String</key>
		<string>lyj0005</string>
		<key>Image</key>
		<string>lyj0005.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0006.gif</string>
		<key>String</key>
		<string>lyj0006</string>
		<key>Image</key>
		<string>lyj0006.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0007.gif</string>
		<key>String</key>
		<string>lyj0007</string>
		<key>Image</key>
		<string>lyj0007.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0008.gif</string>
		<key>String</key>
		<string>lyj0008</string>
		<key>Image</key>
		<string>lyj0008.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0009.gif</string>
		<key>String</key>
		<string>lyj0009</string>
		<key>Image</key>
		<string>lyj0009.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0010.gif</string>
		<key>String</key>
		<string>lyj0010</string>
		<key>Image</key>
		<string>lyj0010.png</string>
	</dict>
	<dict>
		<key>Gif</key>
		<string>lyj0011.gif</string>
		<key>String</key>
		<string>lyj0011</string>
		<key>Image</key>
		<string>lyj0011.png</string>
	</dict>
</array>
</plist>
